
/* Élément | http://127.0.0.1:8000/ */

.navbar {
  background: black !important;
  color: #fff !important;
}

/* bootstrap.min.css | https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css */

.navbar-light .navbar-brand {
  /* color: rgba(0,0,0,.9); */
  color: #fff;
}

/* Élément | http://127.0.0.1:8000/ */

#navbarNavDropdown {
  color: #fff;
}
