{% extends 'shop/base.html' %}

{% block content %}
<style>

.product_detail > img:nth-child(2) {
  width: 50%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.product_detail > p:nth-child(3) {
  text-align: center;
}

.box-btn {
    display: flex;
    justify-content: center;
    width: 100%;
}

.btn-left {
  display: flex;
  width: 100%;
}

.btn-right {
  display: flex;
  width: 50%;
}

.box-btn {
  justify-content: space-around;
  margin: 75px auto;
  flex-direction: row;
}

.btn-success {
  width: 50%;
}

.btn-del-all {
  width: 100%;
}

.table {
  font-size: 1.5em;
  text-align: center;
}

.total-price, .total-tva {
  font-size: 0.5em;
  text-align: end;
  font-style: italic;
}

/* Élément | http://127.0.0.1:8000/cart/ */

.table-total-price {
  display: flex;
  justify-content: end;
}

</style>
    <div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center mt-5 mb-5">Panier</h1>

            {% if user.cart %}
                <table class="table table-striped text-light">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                            <tr>
                                <td class="text-light">{{ order.product.name }}</td>
                                <td class="text-light">{{ order.quantity }}</td>
                                <td class="text-light">{{ order.product.price }}</td>
                                <td>
                                    <a class="btn btn-danger" href="{% url 'delete-product-cart' order.product.slug %}">Supprimer</a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <table class="table table-total-price table-condensed text-light">
                    <tr>
                        <td class="total-tva">Total (HTC) : {{ total }} €</td>
                    </tr>
                    <tr>
                        <td class="total-price">Dont TVA : {{ total_tva }} €</td>
                    </tr>
                    <tr>
                        <td class="total-price">Total (TTC) : {{ total_ttc }} €</td>
                    </tr>
                </table>

            <!-- bouton supprimer panier -->
                <div class="box-btn">

                        <div class="btn-left">
                            <a href="{% url 'checkout' %}" class="btn btn-success">Payer</a>
                        </div>

                        <div class="btn-right">
                            <a class="btn btn-danger btn-del-all" href="{% url 'delete-cart' %}">Supprimer tout le panier</a>
                        </div>

                    </div>
            {% else %}
                <p class="text-light">Votre panier est vide</p>

            {% endif %}

        </div>
    </div>
</div>

{% endblock %}