{% extends 'shop/base.html' %}
{% load static %}
{% block content %}

<div class="row product_details_box" style="align-items: center;">

    <h1 class="text-center mb-5">
        Bienvenue dans l'univers de
        <br />
        <span class="text-success fw-bold" style=" font-size: 1.5em">{{ product.marque_produit }}</span>
    </h1>

    <div class="col-md-6" style="display: flex; justify-content: center;">
        <div>
            <img src="{{ product.image.url }}" width="500px" height="500px" alt="">
        </div>
    </div>
    <div class="col-md-6" style="justify-content: center; display: flex; flex-direction: column;  font-size: 2em">
        <div class="text-warning display-3">
            {{ product.name }}
        </div>

        <div class="text-danger prix">
            Prix(ttc): {{ price_ttc }}€ <small class="text-muted">TTC</small>
        </div>
        <div style="width: 80% !important;">
            <!--
                TVA :{ product.tva } €
                HTC :{ product.price }
                -->
            {{ product.description }}
        </div>
        <a href="{% url 'add_to_cart' product.slug %}">
            <button class="btn btn-success">Ajouter au panier</button>
        </a>
    </div>
</div>

{% endblock %}