{% extends "shop/base.html" %}

{% block content %}
<style>
.card-body {
    width: 50%;
    display: flex;
    margin: auto;
}

form.card {
    background: border-box;
    padding: 30px;
    margin: 50px auto;
}

.row {
    display: flex;
    justify-content: space-around;
}

.card-body {
    flex-direction: column;
}

.no-gutters {
  justify-content: center;
  width: 40%;
  margin: auto;
}

.box-btn {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 950px) {
    .box-product {
        flex-wrap: wrap;
        align-items: center;
    }

    .product-title {
        font-size: 1.7em;
    }

    .card-body {
        width: 100%;
    }

    .content-box-product {
        padding: 0;
    }

    .box-btn {
      display: flex;
      justify-content: center;
      width: 100%;
    }
}
</style>
    <!-- Search Bar -->
    <div class="row">
        <div class="col-md-12">
            <form class="card card-sm" style="border: none; display: flex; justify-content: center">
                <div class="row no-gutters align-items-center">

                    <div class="col">
                        <label style="width: 100%;">
                            <input type="search" placeholder="Entrez le nom du produit que vous cherchez" name="item-name" class="form-control form-control-borderless">
                        </label>
                    </div>

                    <div class="col-auto">
                        <button type="submit" class="btn btn-success">Recherche</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row box-product">
        {% for product in products %}
        <div class="col-md-5 mb-5 content-box-product" style="display: flex; width: 33%; ">
            <div class="card" style="width: 80%; display: flex; justify-content: center; margin: auto; background: transparent; border: none">

                <div id="price price{{ product.id }}" style="color:mediumvioletred; font-weight: bold; font-size: 1.5em; text-align: center;" class="card-text">
                    Prix : {{ product.price }} €
                </div>

                <img src="{{ product.image.url }}" alt="" class="card-ing-top">

                <div class="card-body">
                    <div id="aa{{ product.id }}" class="card-title">
                        <h1 class="text-center product-title">{{ product.name }}</h1>
                    </div>
                    <div class="box-btn">

                        <div class="btn-left">
                            <a href="{% url 'detail' product.slug %}" class="btn btn-warning">Détails</a>
                        </div>

                        <div class="btn-right">
                            <a href="{% url 'add_to_cart' product.slug %}" class="btn btn-success">Acheter</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <div class="row mt-3">
        <div class="col-md-3 offset-md-4">
            <ul class="pagination">
                {% if product_object.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.previous_page_number }}">Precedent</a>
                    </li>
                {% endif %}    

                    <li class="page-item active">
                        <a class="page-link" href="?page={{ product_object.number }}">{{ product_object.number }}</a>
                    </li>

                {% if product_object.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_object.next_page_number }}">Suivant</a>
                    </li>
                {% endif %} 

            </ul>
        </div>
    </div>

{% endblock %}