{% extends "shop/base.html" %}

{% block content %}
<style>
.card-body {
    width: 50%;
    display: flex;
    margin: auto;
}

form.card {
    background: border-box;
    padding: 30px;
    margin: 50px auto;
}

.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0;
}

.card-body {
    flex-direction: column;
}

.no-gutters {
    justify-content: center;
    width: 40%;
    margin: auto;
}

.box-btn {
    display: flex;
    justify-content: space-between;
}

.content-box-product {
    display: flex;
    width: 25%;
}

.pagination-box {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px auto;
}

.pagination {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}

@media screen and (max-width: 950px) {
    .box-product {
        flex-wrap: wrap;
        align-items: center;
    }

    .product-title {
        font-size: 1.7em;
    }

    .card-body {
        width: 100%;
    }

    .content-box-product {
        margin: auto 30px;
        padding: 0;
    }

    .box-btn {
      display: flex;
      justify-content: center;
      width: 100%;
    }
}
</style>
    <!-- Search Bar -->
    {% include 'shop/search-bar.html' %}
        {% block search %}
    {% endblock %}

    <div class="row box-product">
    <!--Navbar-->
      <nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5 p-3">

        <!-- Navbar brand -->
        <span class="navbar-brand">Categories:</span>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="basicExampleNav">

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
              {% for category in categories %}

                      <li class="nav-item">
                          <a class="nav-link" href="{% url 'category' category.slug %}">{{ category.name}}</a>
                      </li>


              {% endfor %}
          </ul>
          <!-- Links -->
        </div>
        <!-- Collapsible content -->

      </nav>
      <!--/.Navbar-->
        {% for product in products %}
        <div class="col-md-5 mb-5 content-box-product">
            <div class="card" style="width: 80%; display: flex; justify-content: center; margin: auto; background: transparent; border: none">
                <div id="aa{{ product.id }}" class="card-title">
                    <h1 class="text-center product-title">{{ product.name }}</h1>
                </div>

                <img src="{{ product.image.url }}" alt="" class="card-ing-top">

                <div class="card-body">
                    <div id="price price{{ product.id }}" style="color: mediumvioletred; font-weight: bold; font-size: 1.5em; text-align: center;" class="card-text mb-5">
                        Prix TTC: {{ product.ttc_price|floatformat }} €
                    </div>
                    <div class="box-btn">

                        <div class="btn-left">
                            <a href="{% url 'detail' product.slug %}" class="btn btn-warning">Détails</a>
                        </div>

                        <div class="btn-right">
                            <a href="{% url 'add_to_cart' product.slug %}" class="btn btn-success">Acheter</a>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>

    <!-- include pagination.html -->
    {% include 'shop/pagination.html' %}
        {% block pagination %}
        {% endblock %}

{% endblock %}