{% load static %}

{% block pagination %}
<div class="row mt-3 pagination-box">
    <div class="col-md-3 offset-md-4 pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link text-dark"
                    href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
            </li>
            {% endif %}

            <li class="page-item active">
                <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link text-dark"
                    href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
            </li>
            {% endif %}

        </ul>
    </div>
</div>
{% endblock %}