{% load static %}

{% block search %}
<!-- Search Bar -->
<div class="row">
    <div class="col-md-12">
        <form class="card card-sm" style="border: none; display: flex; justify-content: center">
            <div class="row align-items-center">

                <div class="col">
                    <input type="search" placeholder="Entrez le nom du produit que vous cherchez" name="search"
                        class="form-control form-control-borderless searchbar">
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-success">Recherche</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}